<div class="row">
	<div class="span3"><%= semester.description %></div>
	<div class="span3"><%= semester.starts_on.strftime("%b %d, %Y") %></div>
	<div class="span3"><%= semester.ends_on.strftime("%b %d, %Y") %></div>
</div>