<div class="row">
	<div class="span3"><%=  grading_period.description %></div>
	<div class="span3"><%= grading_period.starts_on.strftime("%b %d, %Y") %></div>
	<div class="span3"><%= grading_period.ends_on.strftime("%b %d, %Y") %></div>
</div>