<div class="center hero-unit">
	<h3 class="left muted">
		Your Classes:
	</h3>
	<div class="row info-label">
		<div class="span4">Course name</div>
		<div class="span2">Semester</div>
		<div class="span1">Section</div>
	</div>
	<% @sections.each do |section| %>
		<div class="row">
			<div class="span4">
				<%= link_to section.course.course_name, instructor_section_path(section) %>
			</div>
			<div class="span2">
				<%= section.semester.description %>
			</div>
			<div class="span1">
				<%= section.section_number %>
			</div>
		</div>
	<% end %>
</div>