<div class="center hero-unit">
<%= paginate @students %>

<table id="students" class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>School</th>
		</tr>
	</thead>
	<tbody>
		<% @students.each do |student| %>
		<tr>
			<td><%= link_to student, student_path(student) %></td>
			<td><%= student.school.name %></td>
		</tr>
		<% end %>	
	</tbody>
</table>
</div>