<div class="center hero-unit">
	<h1><%= @student.to_s %></h1>
	<% if @student.addresses.any? %>
		<%= render @addresses %>
	<% end %>
	<% @student.parents.each do |p| %>
		<%= render @parents %>
	<% end %>
</div>