<div class="dashboard">
	<h2 class="left muted">Current Classes</h2>
		<% @sections.each do |teacher, section| %>
		<div class="accordion-group accordion-caret noborder">
		    <div class="accordion-heading">
		        <a class="accordion-toggle" data-toggle="collapse" href="#collapse<%= teacher[-3..-1] %>">
		            <strong><%= teacher %></strong>
		        </a>
		    </div>
			<div id="collapse<%= teacher[-3..-1] %>" class="accordion-body collapse in">
				<% section.each do |s| %>
				        <div class="accordion-inner offset0-5">
				            <%= s.course_name %>
				        </div>
				<% end %>
		    </div>
			</div>
		<% end %>
</div>