<div class="row">
	<div class="span2 offset1">
		<%= section.section_number %>
	</div>
	<div class="span2">
		<%= section.teacher.name %>
	</div>
	<div class="span2">
		<%= section.semester.to_s %>
	</div>
	<div class="span2">
		<%= section.days_of_week %>
	</div>
</div>