<div class="admin">
<%= paginate @teachers %>

<table id="teachers" class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<% @teachers.each do |teacher| %>
		<tr>
			<td><%= link_to teacher.name, teacher_path(teacher) %></td>
		</tr>
		<% end %>	
	</tbody>
</table>
</div>