<div class="admin">
	<%= paginate @school_years %>
	
	<h3 class="left muted">All years</h3>
	<div class="row">
		<div class="span3">Year</div>
		<div class="span3">Start Date</div>
		<dic class="span3">End Date</dic>
	</div>
	<% @school_years.each do |year| %>
		<div class="row">
			<div class="span3"><%= link_to year.description, school_year_path(year) %></div>
			<div class="span3"><%= l year.starts_on %></div>
			<div class="span3"><%= l year.ends_on %></div>
		</div>
	<% end %>
</div>