<div class=" whole-page">
	<div class="row">
		<ul class="thumbnails">
			<li class="span-5"></li>
			<li class="span4">
				<div class="thumbnail">
					<%= link_to image_tag("students.png", :mouseover => "students-info.png"), "#", :class=>"btn btn-large"  %>
				</div>
			</li>
			<li class="span4">
				<div class="thumbnail">
					<%= link_to image_tag("reports.png", :mouseover => "reports-info.png"), "#", :class=>"btn btn-large" %>
				</div>
			</li>
			<li class="span4">	
				<div class="thumbnail">
					<%= link_to image_tag("schedule.png", :mouseover => "schedule-info.png"), "#", :class=>"btn btn-large"  %>
				</div>
			</li>
		</ul>
	</div>
</div>