<div class="center hero-unit">
<%= paginate @courses %>

<table id="courses" class="table table-hover">
	<thead>
		<tr>
			<th>Course Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<% @courses.each do |course| %>
		<tr>
			<td width="25%"><%= link_to course.course_name, course_path(course) %></td>
			<td width="75%"><%= course.course_description %></td>
		</tr>
		<% end %>	
	</tbody>
</table>
</div>