<div class="row">
	<div class="section-head">Parent</div>
</div>
<div class="row">
	<div class="span9">
		<p class="no-break">Name: <%= parent.to_s %></p>
	</div>
</div>
<div class="row">
	<div class="span3">
		<p class="no-break">Home Phone: <%= parent.home_phone %></p>
	</div>
	<div class="span3">
		<p class="no-break">Work Phone: <%= parent.work_phone %></p>
	</div>
</div>
<% if parent.addresses.any? %>
	<%= render @addresses %>
<% end %>