<div class="row">
	<div class="span9">
		<%= parent.to_s %>
	</div>
</div>
<div class="row">
	<div class="span3">
		<%= parent.home_phone %>
	</div>
	<div class="span3">
		<%= parent.work_phone %>
	</div>
</div>