<footer class="footer">
	<table class="noprint noborder" style="width:100%">
		<tr class="noborder">
			<td class="noborder">
				Piedmont Governor's School
			</td>
			<td class="noborder" style="text-align:center;">
				10 E. Church St. 4th Floor Martinsville, VA 24112
			</td>
			<td class="noborder" style="float:right;">
				<a href="mailto:jmabry@newcollegeinstitute.org">Problems or requests?</a>
			</td>
		</tr>
	</table>
</footer>