<div class="container">	
	<div class="masthead">
		<div class="row">
		<div class="span8"><h3 class="title left bottom">PGS SIS</h3></div>
		<div class="span4"><h3 class="muted right"><%= image_tag('/assets/pgsmstlogo.png') %></h3></div>
		</div>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<%= render 'layouts/navigation' %>
				</div>
			</div>
		</div>
	</div>
</div>